body {
  background:#0f172a;
  color:white;
  font-family:Arial;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.box {
  background:#1e293b;
  padding:40px;
  border-radius:12px;
  text-align:center;
}

button {
  padding:12px 20px;
  margin:10px;
  border:none;
  background:#38bdf8;
  border-radius:6px;
  cursor:pointer;
}

input {
  padding:10px;
  margin-right:10px;
}
